uvicorn==0.17.6
html2text==2020.1.16
requests==2.27.1
fastapi==0.75.1
python-dotenv==0.20.0
py-readability-metrics==1.4.5
requests==2.27.1
bs4==0.0.1
html2text==2020.1.16
google-api-python-client==2.42.0
gunicorn==20.1.0
nltk==3.7
